.itemInCart {
  display: grid;
  gap: 15px;
  grid-template-columns: 50px 1fr 30px 80px 30px;
  align-items: center;
}

.cart {
  display: grid;
  grid-auto-rows: 100px;
  align-items: center;
}

img {
  max-width: 100%;
}

.imgContainer {
  width: 50px;
}